<!DOCTYPE html>
<html lang="ko">
<head>
    <body>
    <meta charset="UTF-8">
    <title>Suggestion</title>
    <div>
        - Suggestion Create Tool -
    </div>
    <div>
        Title <input type="text", placeholder="Enter your title of the suggestion.">
    </div>
    <div>
        Voting Period <input type="text", placeholder="Enter the voting period.">
    </div>
    <div>
        Summary <input type="text", placeholder="Enter the summary of your suggestion.">
    </div>
    <div>
        Description <input type="text", placeholder="Explain you suggestion in detail.">
    </div>
    <div>
        Notes <input type="text">
    </div>
    <div>

    </div>
    </body>
</head>
</html>